.container {
  background-color: #eff1ed;
  padding: 1rem;
  box-sizing: border-box;
  //   height: 100%;
  //   width: 70%;
  display: flex;
  //   justify-content: space-between;
  border-radius: 1rem;
  gap: 1rem;
}

.containerEnd {
  @extend .container;
  pointer-events: none;
  opacity: 0.8;
}

.slot {
  height: 6vw;
  width: 6vw;
  aspect-ratio: 1/1;
  background-color: #36454f;
  border-radius: 50%;
  transition: all 0.2s;
  box-shadow: 0 0 8px rgb(52, 52, 52);
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
  //   width: 14%;
  transition: all 0.2s;
  border-radius: 0.5rem;
  cursor: pointer;
  justify-content: space-between;
}
