.container {
  padding: 2rem;
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;
}

.content {
  display: flex;
  gap: 1rem;
}

.container h1 {
  color: #eff1ed;
  font-size: 4.5rem;
}

.players {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.restartBtn {
  background-color: #b1c841;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin: auto;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.restartBtn:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

.playerWon {
  margin: auto;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}
